---
title: "Button"
layout: module.hbs
module: true
---

<div class="container" style="padding: 1em;">
    <a href="#" class="button">Button</a>
</div>

<div class="container" style="padding: 1em;">
    <a href="#" class="button small">Small Button</a>
</div>

<div class="container" style="padding: 1em;">
    <a href="#" class="button button-alt">Alt Button</a>
</div>

<div class="container" style="padding: 1em;">
    <a href="#" class="button small button-alt">Small Alt Button</a>
</div>
