---
title: "Callout Group"
layout: module.hbs
module: true
---

<section class="button-group">
	<h2>Learn more about:</h2>
	<ul>
		<li><a href="#">Friends &amp; Family</a></li>
		<li><a href="#">School</a></li>
		<li><a href="#">Dating</a></li>
		<li><a href="#">Fitness</a></li>
		<li><a href="#">Stress</a></li>
		<li><a href="#">College &amp; Adult Care</a></li>
	</ul>
</section>
