---
title: "Global Footer"
layout: module.hbs
module: true
---

<footer id="js-global-footer" class="global-footer" role="contentinfo">

    <div class="row">

        <div class="logos">
            <a href="http://www.ccfa.org/"><img src="http://www.ccfa.org/assets/images/kids/logo-ccfa.png" alt="Crohn's &amp; Colitis Foundation of America" /></a>
            <a href="http://www.naspghan.org/"><img src="http://www.ccfa.org/assets/images/kids/logo-naspghan.png" alt="Naspghan Foundation" /></a>
            <a href="http://www.gikids.org/"><img src="http://www.ccfa.org/assets/images/kids/logo-gikids.png" alt="GI Kids" /></a>
        </div>

        <div class="address">
            <a href="javascript:;">Crohn's &amp; Colitis Foundation of Russia</a> | 733 Third Avenue, Suite 510, New York, NY 10017 | 800-932-2423 | <a href="javascript:;">info@ccfa.org</a>
        </div>

        <div class="address">
            <a href="javascript:;">NASPGHAN</a> | PO Box 6, Flourtown, PA 19031 | 215-233-0808
        </div>

        <div class="copyright">
            &copy; 2014 <a href="javascript:;">Crohn's &amp; Colitis Foundation of America</a> | <a href="javascript:;">Privacy</a> | <a href="javascript:;">Sitemap</a>
        </div>

    </div>

</footer>

