---
title: "Hot Topics"
layout: module.hbs
module: true
---

<nav class="hot-topics">

    <img src="img/heading-hot-topics.png" alt="Hot Topics" />

    <ul>
        <li>
            <a href="#" title="Friends &amp; Family">
                Friends &amp; Family Two Lines
            </a>
        </li>
        <li>
            <a href="#" title="School">
                School
            </a>
        </li>
        <li>
            <a href="#" title="Dating">
                Dating
            </a>
        </li>
        <li>
            <a href="#" title="Ostomies">
                Ostomies
            </a>
        </li>
    </ul>

</nav>
