---
title: "Promo Area"
layout: module.hbs
module: true
---

<div class="container" style="padding: 1em;">

    <div class="promo-area">
        <a href="#" title="Promo Area Title">
            <img src="http://placehold.it/350x350" width="350" height="350" alt="Alternate Text" />
            <span class="promo-area-caption">
                <h2 class="promo-area-caption-heading">Get Involved</h2>
                <p>Take Steps and Walk Towards a Cure</p>
            </span>
        </a>
    </div>

</div>

<div class="container" style="padding: 1em;">

    <div class="promo-area">
        <a href="#" title="Promo Area Title">
            <img src="http://placehold.it/350x350" width="350" height="350" alt="Alternate Text" />
            <span class="promo-area-caption promo-area-caption-green">
                <h2 class="promo-area-caption-heading">Get Involved</h2>
                <p>Take Steps and Walk Towards a Cure</p>
            </span>
        </a>
    </div>

</div>

<div class="container" style="padding: 1em;">

    <div class="promo-area">
        <a href="#" title="Promo Area Title">
            <img src="http://placehold.it/350x350" width="350" height="350" alt="Alternate Text" />
            <span class="promo-area-caption promo-area-caption-red">
                <h2 class="promo-area-caption-heading">The Community</h2>
                <p>#GoodDayIBD</p>
            </span>
        </a>
    </div>

</div>

<div class="container" style="padding: 1em;">

    <div class="promo-area">
        <img src="http://placehold.it/350x350" width="350" height="350" alt="Alternate Text" />
        <span class="promo-area-caption promo-area-caption-yellow">
            <h2 class="promo-area-caption-heading">Get Involved</h2>
        </span>
    </div>

</div>
