<section class="masthead green-caption with-video padded-caption row">

    <div class="masthead-image large-8 large-push-4 columns">
        <a href="https://www.youtube.com/watch?v=qybUFnY7Y8w" class="video"><img src="http://www.placecage.com/676/372" alt="Kitty!" /></a>
    </div>

    <div class="masthead-caption large-4 large-pull-8 columns">

        <span class="pre-heading">Lorem ipsum dolor sit amet.</span>

        <h2>Lorem ipsum dolor sit.</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat dolorum voluptate quo quis enim expedita cupiditate eveniet velit perspiciatis? Voluptatem quasi soluta quo maxime eligendi.</p>

    </div>

</section>
