<section class="masthead blue-caption row">

    <div class="masthead-image large-4 columns">
        <img src="http://www.placecage.com/322/241" alt="Kitty!" />
    </div>

    <div class="masthead-caption large-8 columns">

        <h2>Lorem ipsum dolor sit.</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat dolorum voluptate quo quis enim expedita.</p>

        <p><a href="#" class="button button-alt">Read More</a></p>

    </div>

</section>
