---
title: Home Page
template: true
body-class: "one-column"
grid-class: "columns medium-8"
---

<div class="columns medium-8">

	<div class="row">

		<div class="columns">
			<div class="hero-story with-video">
				<a href="//www.youtube.com/watch?v=qybUFnY7Y8w" class="hero-area video">
					<span class="hero-story-title" style="bottom: 15%; right: 5%;">
						<img src="img/heading-my-story.png" alt="My Story" />
					</span>
					<div class="hero-story-img">
						<img src="img/_tmp/home-hero.jpg" alt="660x372" width="660" height="372" />
					</div>
					<span class="button" style="bottom: 10%; right: 22%;">Teens tell their story</span>
				</a>
			</div>
		</div>

	</div>

	<div class="row show-for-small">

		<div class="columns">

			<nav class="hot-topics hot-topics-small">
				<img src="img/heading-hot-topics.png" alt="Hot Topics" />
				<ul>
					<li>
						<a href="#" title="Friends &amp; Family">
							Friends &amp; Family Two Lines
						</a>
					</li>
					<li>
						<a href="#" title="School">
							School
						</a>
					</li>
					<li>
						<a href="#" title="Dating">
							Dating
						</a>
					</li>
					<li>
						<a href="#" title="Ostomies">
							Ostomies
						</a>
					</li>
				</ul>
			</nav>

		</div>

	</div>

	<div class="row">

		<div class="columns small-12 large-6 first-column">
			<div class="promo-area">
				<a href="#" title="Promo Area Title">
					<img src="http://placehold.it/350x350" width="350" height="350" alt="Alternate Text" />
					<span class="promo-area-caption">
						<h2>Get Involved</h2>
						<p>Take Steps and Walk Towards a Cure</p>
					</span>
				</a>
			</div>
		</div>

		<div class="columns small-12 large-6">
			<div class="promo-area">
				<a href="#" title="Promo Area Title">
					<img src="http://placehold.it/350x350" width="350" height="350" alt="Alternate Text" />
					<span class="promo-area-caption promo-area-caption-green">
						<h2>Get Involved</h2>
						<p>Take Steps and Walk Towards a Cure</p>
					</span>
				</a>
			</div>
		</div>

	</div>

	<div class="row">

		<div class="columns small-12 large-6">
			<div class="promo-content">
				<span class="promo-area-caption promo-area-caption-yellow">
					<h2 class="promo-area-caption-heading">Get Connected</h2>
				</span>
				<div class="promo-content-area">
					<a href="#" class="image"><img src="img/facebook.png" /></a>
					<a href="#">Forum</a>
					<a href="#">Support Group</a>
					<a href="#">Power of 2</a>
				</div>
			</div>
		</div>

		<div class="columns small-12 large-6">
			<div class="promo-content">
				<script type="text/javascript" charset="utf-8" src="http://static.polldaddy.com/p/8489460.js"></script>
				<noscript><a href="http://polldaddy.com/poll/8489460/">Is this a poll?</a></noscript>
				<div class="js-poll" data-pollid="8489460"></div>
			</div>
		</div>

	</div>

</div>

<div class="columns medium-4">

	<div class="row hide-for-small">

		<div class="columns">

			<nav class="hot-topics">
				<img src="img/heading-hot-topics.png" alt="Hot Topics" />
				<ul>
					<li>
						<a href="#" title="Friends &amp; Family">
							Friends &amp; Family Two Lines
						</a>
					</li>
					<li>
						<a href="#" title="School">
							School
						</a>
					</li>
					<li>
						<a href="#" title="Dating">
							Dating
						</a>
					</li>
					<li>
						<a href="#" title="Ostomies">
							Ostomies
						</a>
					</li>
				</ul>
			</nav>

		</div>

	</div>

	<div class="row">

		<div class="columns">

			<section class="gallery-display">

				<div class="promo-area-caption promo-area-caption-red">
					<h2 class="promo-area-caption-heading">The Community</h2>
					<p>#IBDselfie</p>
				</div>

				<section class="gallery-container">
					<div id="js-instafeed">
						<img id="js-instafeed-loader" src="/img/loader.gif" />
						<noscript>
							<p><a href="http://instagram.com/ccfa_" target="_blank">Visit us on Instagram.</a></p>
						</noscript>
					</div>
				</section>

			</section>

		</div>

	</div>

</div>
