---
title: Landing
template: true
body-class: "one-column"
---

<div class="columns small-12">

	{{> masthead }}

	<div>

		<h1>Life with UC &amp; Crohn's</h1>

		{{> lorem }}

	</div>

	{{> _button-group }}

</div>
