---
title: One Column
template: true
body-class: "one-column"
---

<div class="columns small-12">

	{{> masthead }}

	<div>

		{{> back-to-top }}

		<h1>What to expect with Crohn's Disease</h1>

		{{> lorem }}

		{{> back-to-top }}

	</div>

	{{> masthead-bottom }}

</div>
